@import "fonts.styl";
@import "common-style.styl";

/* components */
@import "blocks/flex-container.styl";
@import "blocks/text.styl";
@import "blocks/btn.styl";
@import "blocks/loading.styl";
@import "blocks/custom-table.styl";

@import "blocks/app-wrapper.styl";
@import "blocks/app-panel.styl";
@import "blocks/header.styl";
@import "blocks/search.styl";
@import "blocks/issues.styl";
@import "blocks/comment.styl";
@import "blocks/pagination.styl";

@import "states.styl";