.issues__list
  margin: 0
  padding: 0
  list-style: none
.issues__item
  margin-bottom: 8px
  padding: 10px 0 0
  border-bottom: 1px solid transparent
  box-shadow: 0 0 1px #999
.issues__href
  color: inherit
.issues__href:hover,
.issues__href:visited
  color: #999
.issues__comment
  margin-top: 30px