.search
  position: relative
  display: flex
  width: 100%
.search__input
  width: calc(100% - 66px)
  height: 32px
  margin-right: 4px
  padding-left: 4px
.search__btn
  width: 66px
  height: 32px
  text-align: center
  cursor: pointer
.search__hint-block
  position: absolute
  top: 33px
  left: 0
  width: calc(100% - 70px)
  max-height: 169px
  background: #fff
  overflow: auto
.search__hint
  padding: 4px
  line-height: 38px
  border: 1px solid #ccc
  cursor: pointer
.search__hint:hover
  background: #ccc